.App {
  height: 100%;
  grid-template-rows: 25% 75%;
  font-family: 'Oswald', sans-serif;
}
.hautgrid {
  height: 25vh;
}
.basgrid {
  background-color: blue;
  height: 75vh;
  
}
@media screen and (max-width: 1100px) { 
  .hautgrid {
    height: 20vh;
  }
  .basgrid {
    background-color: blue;
    height: 80vh;
    
  }
}